/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Utils */

.itaflag {
	height: 15px;
}

hr {
  border: 2px solid gray;
}

h1 {
  display: flex;
}



/* Utils > Placement */

.justify-end {
  justify-content: flex-end;
  align-items: center;
}
.justify-center {
  justify-content: center;
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
  align-items: center;
}

/* Utils > Badges */

.download-badges-container {
	display: flex;
}


.badge,
.badge-white,
.badge-grey, .badge-lavender {
  font-size: 0.8rem;
  border-radius: 45px;
  padding: 10px 20px;
  margin-left: 10px;
  /* margin-right: 10px; */
  /* height: 35px; */
}

.badge-white {
  color: #323332;
  background-color: white;
}
.badge-grey {
  color: white;
  background-color: #323332;
}
.badge-lavender {
  color: white;
  background-color: #8EA1E1;
}

/* Utils > Colours */

.bg-gray {
  background-color: #d3d3d3;
}

.bg-lightpink {
  background-color: #ffc0ca;
}

.bg-dodgerblue {
  background-color: #1e90ff;
}

.bg-green {
  background-color: #218b21;
}

.bg-darkgray {
  background-color: #23272a;
}

.bg-salmon {
  background-color: #f08180;
}

.bg-teal {
  background-color: #20b3aa;
}

.bg-aqua {
  background-color: #7fffd4;
}

.bg-white {
  background-color: white;
}

.text-white {
  color: white;
}

.text-darkgray {
  color: #23272a;
}

.text-lavender {
  color: #8EA1E1;
}

/* Header */

header {
  background-color: #255ee9;
  /* padding-bottom: 5px; */
}

.full-width-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header-navbar {
  display: flex;
  flex-wrap: wrap;
  /* background-color: #DAA51E; */
  width: 60%;
  /* height: 50px; */
  margin: 20px auto;
}

.logo,
.link,
.login {
  display: flex;
  /* justify-content: space-around; */
  padding: 10px;
  /* border: 2px dashed black; */
}




ul {
  display: flex;
  list-style: none;
  padding: 10px;
  color: #ffffff;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}

ul li {
  display: flex;
  padding: 10px;
  color: #ffffff;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}

.w-50 {
  /* height: 100%; */
  width: 50%;
}
.w-25 {
  /* height: 100%; */
  width: 25%;
}

/* Jumbotron & Jumbotron Panel */

.jumbotron {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  /* align-items: center; */
  /* background-color: #00018B; */
  padding: 10px 0px 10px 0px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  /* height: 500px; */
  width: 100%;
}

.jumbotron-panel {
  /* background-color: #EF82ED; */
  /* border: 2px dashed black; */
  gap: 25px;
  width: 35%;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* align-content: space-around; */
  justify-content: center;
  align-content: center;
}

/* Main */

/* Sezione Container con Contenitori Alternati */

.divided-container {
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

/* .w-60, */
/* .w-40 { */
  /* align-self: center; */
  /* border: 2px dashed black;
}



.w-60 {
  display: flex;
  width: 60%;
  /* height: 52%;
}

.w-40 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 25%;
  height: 90%;





/* Footer */

.w-15 {
  /* display: flex; */
  /* flex-direction: column; */
  width: 15%;
  /* height: 90%; */
  /* border: 2px dashed white; */
}

.w-40footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 40%;
    /* height: 90%; */
	padding: 20px;
    flex-wrap: nowrap;
    align-items: flex-start;
}


.w-60footer {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  /* height: 50px; */
}

.footer-end-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.logo-footer,
.bottone-footer {
  border: 2px dashed black;
}

.footer-divided-container-top {
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

.w-100 {
	margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.generic-container {
	max-width: 1200px;
}


.ul-foot {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  color: #ffffff;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  align-items: flex-start;
}

/* .ul-foot+li {
  display: flex;
  padding: 10px;
  color: #ffffff;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
} */